.content ul.block-list {
    list-style: none;
    margin-left: 0;
  }
  .block-list {
    list-style: none;
  }

  .block-list li {
        margin-bottom: 0.25rem;
  }
  .main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html,
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  .section {
    flex: 1;
  }

  .container .columns {
    margin: 1rem 0;
  }
  .media-left img {
    border-radius: 20%;
  }
  article.post {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e6eaee;
  }
  article.post:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }